@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply mx-auto max-w-[75rem] w-full;
}


header .header__nav {
    @apply max-h-0;
}
header .header__nav.open {
    @apply max-h-[21rem] overflow-y-scroll top-[3.4rem]
}
 
.cta__version__content::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #25252B;
    top: -8px;
    right: 10px;
}

.tns-outer {
    @apply relative;
}

.tns-controls {
    @apply flex items-center justify-between absolute top-[50%] left-[1rem] w-[95%] z-[100]
}

.tns-item {
    @apply min-[992px]:!inline-flex
}

.tns-nav {
    @apply hidden
}

.use .use__item .use__content{
    @apply lg:max-w-[75rem] lg:mx-auto mx-5;
}

.use .use__item:nth-child(odd) {
    @apply bg-[#fff];
}

.use .use__item:nth-child(even) {
    @apply bg-[#f5f5f5]
}

.use .use__item:nth-child(odd) .use__content{
    @apply py-14 flex flex-col items-center md:flex-row md:gap-[6rem] md:items-start
}

.use .use__item:nth-child(even) .use__content {
    @apply py-14 flex flex-col items-center md:flex-row-reverse md:gap-[6rem] md:items-start
}

.use .use__content{
    @apply md:px-[8%] py-5 xl:mx-[18%] 2xl:px-0
}

.use .use__content img {
    @apply object-cover w-[60%] md:w-[40%] 
}


.use .use__content h6 {
    @apply py-5 text-[1.2rem] font-extralight md:text-[1.7rem] md:py-0 md:pb-5
}

.use .use__content p {
    @apply leading-[2.5rem] text-[.95rem] md:text-[1rem]
}

.use .use__content p a {
    @apply text-[#0071bc]
}

.footer__items__before::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #e5e5e5;
    right: 95%;
    top: 20%;
}

@layer components {
    
}